# Mesma razão do .prettierignore: não reformatar arquivos gerados.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,css,js,md,yml}]
indent_style = space
indent_size = 4

[*.{css,js,yml}]
indent_size = 2

[*.html]
insert_final_newline = false
trim_trailing_whitespace = false
